body{
  background-color: #fafafa;
}

#phone{
  width: 290px;
  margin-top: 50px;
  float: left;
  padding-left: 50px;
}

#phone img{
  height:650px;
}

#forms{
  text-align: center;
  height: 500px;
  width: 320px;
  margin-right: 120px;
  margin-top: 50px;
  float: right;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  background-color: white;
  color: #9B9A9A;
  font-weight: bold;
  font-size: 17px;
  border: 1px solid #ECECEC;
}

#forms p{
  width: 200px;
  margin-left: 60px;
  line-height: 20px;
}

#forms img{
  margin-right: 20px;
  height: 60px;
  width: 180px;
  margin-top: 25px;
}

#row1{
  text-align: center;
  height: 530px;
  padding: right: 40px;

}

#hr1{
  width:130px;
  font-size: 15px;
  margin-bottom: 30px;
}
#p1{
  font-size: 15px;
  color: #9B9A9A;
}

#form-buttons{
  width: 270px;
  height:24px;
  background-color: #3897f0;
  margin-bottom: 10px;
  border-color: #3897f0;
  padding: 2px;
  margin-top: 20px;
  font-size: 14px;
}

#row1 input{
  width: 270px;
  margin-bottom: 10px;
  background-color: #EDEDED;
  border: 1px solid #E8E8E8;

}

#text2{
  font-size: 15px;
  width: 240px;
}
form p a{
  font-size: 15px;
  color: #8D8D8D;
  font-weight: bold;
}

#row2{
  text-align: center;
  border: 1px solid #ECECEC;
  height: 75px;
  font-size: 14px;
  color: black;
  position: absolute;
  top:510px;
  width:320px;
}

#row2 p{
  margin-top: 20px;
}

#row3{
  position: absolute;
  top: 610px;
  width: 320px;
}

#row3 img{
  height: 40px;
  width: 130px;
  display: inline-block;
}

#row3img{
  float:right;
}

#row3img2{
  float: left;
}


@media screen and (max-width: 992px){
  #phone{
    display: none;
  }
}
